@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    font-family: 'Poppins', sans-serif
}

#cornetbleu{
    width: 150px;
}
#instagramicon{
    width: 30px;
}
#tripadvisoricon{
    width: 30px;
}
footer{
    display: flex;
    justify-content: space-evenly;
}
.reso{
    display: flex;
}
footer h4{
    color: #4CBBB8;
}
footer svg{
    color: #4CBBB8;
}
body h2{
    color: #ECD284;
}
#form{
    display: flex;flex-direction: column;
    justify-content: center; align-items: center;
}
input,textarea{
    border-radius: 10px;
    width: 50vh;

}
.formulaire{
    display: flex; flex-direction: column;
}
label{
    color: #4CBBB8;
}