@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin: 0;
    scroll-behavior: smooth;
}


/* JULIE */


header {
    background-color: #4CBBB8;
}

li {
    color: #ECD284;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    font-weight: 600;
}

ul {
    display: flex;
    background-color: white;
    height: 60px;
    width: 90vh;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    border-radius: 50px;
}

#nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

#Logo img {
    width: 60vh;
    display: flex;
    justify-content: end;
}

#Logo h2 {
    font-weight: 600;
}

#Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20vh;
}

a {
    text-decoration: none;
}

h2 {
    color: #ECD284;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1 {
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

#body p {
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 15px;
}

#nuage {
    min-width: 50px;
}

#glace img {
    width: 100vh;
}

#header {
    display: flex;
    justify-content: space-between;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#texteheader {
    position: absolute;
}

#body img {
    width: 100%;
}

hr {
    width: 100%;
    height: 25px;
    border: none;
}

#glace {
    display: flex;
    justify-content: end;
}

/* JULIE FIN */

/* SOLENE */


#ourIceCreams {
    padding-top: 8vh;
    padding-left: 30vh;
}

#ourIceCreams p {
    color: #4CBBB8;
    font-weight: 600;
    font-size: 20px;
}

#iceCreamTitle {
    font-weight: 600;
    color: #ECD284;
    font-size: 30px;
}

#containerGallery {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
    gap: 15px 5px;
    justify-items: center;
    align-items: center;

    padding-top: 10vh;
    padding-left: 20vh;

}

#containerGallery img {
    width: 45vh;
}

#containerGallery img:hover {
    transform: scale(1.1) rotate(5deg);
}

#menu {
    background-color: #ECD284;

    display: flex;
    justify-content: center;
}

#forClouds {
    margin-top: 15vh;
    background-color: #ECD284;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forClouds img {
    height: 15vh;
}

#choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

#choices p {
    color: white;
    padding: 5px;
}

/* #menu img {
    width: 45vh;
    height: auto;
    margin-left: -65vh;
} */

#menu h2 {
    color: white;
    font-weight: 600;
    font-size: 40px;
}

#menu span {
    color: #DCA9B1;
    font-weight: 600;
}

svg {
    fill: #ffffff
}


#clouds {
    width: 100%;
}


.parfums-toppings {
    display: flex;
    gap: 8vh;

}

.parfums-toppings p {
    font-size: 20px;
}



/* SOLENE FIN*/

/* MADALEN*/

#cornetbleu {
    width: 150px;
}

#instagramicon {
    width: 30px;
}

#tripadvisoricon {
    width: 30px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
}

.reso {
    display: flex;
}

footer h4 {
    color: #4CBBB8;
}

footer svg {
    color: #4CBBB8;
}

body h2 {
    color: #ECD284;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

input,
textarea {
    border-radius: 10px;
    width: 50vh;
    border: none;
    background-color: #F0F0F0;

}

input {
    height: 4vh;
}

.formulaire {
    display: flex;
    flex-direction: column;
}

label {
    color: #4CBBB8;
    font-weight: 600;
}

#form h2 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}

button {
    margin-top: 15px;
    border: none;
    border-radius: 50px;
    width: 15vh;
    height: 5vh;

    background-color: #4CBBB8;
    color: white;
    font-weight: 600;
}

button:hover {
    color: #4CBBB8;
    background-color: white;
    border: solid #4CBBB8 1px;

}

#button {
    display: flex;
    justify-content: end;
}

/* MADALEN FIN*/

/* //////////////////////////////////////////////////////////////// QUERY TIME */



@media screen and (min-width:375px) and (max-width:1050px) {

    #glace img {
        display: none;
    }

    #Logo img {
        width: 40vh;
    }

    #Logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #forClouds img {
        height: 5vh;
        width: 100%;
    }

    #header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul {
        height: auto;
        width: auto;
    }

    #body img {
        visibility: hidden;
    }

    #body {
        background-color: #4CBBB8;
    }

    #texteheader {
        position: relative;
        padding-left: 10px;
    }


    #containerGallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;


    }

    #ourIceCreams {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
    }

    #menu h2 {
        font-size: 30px;
    }

    #menu p {
        font-size: 16px;
        padding: 2px;
    }

    .parfums-toppings {
        gap: 4vh;
    
    }


    footer {
        display: flex;
        flex-direction: column;

        margin-top: 10vh;
        gap: 50px;

        padding-left: 10vh;
        padding-bottom: 5vh;
    }


}