@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin: 0;
}

#ourIceCreams {
    padding-top: 15vh;
    padding-left: 30vh;
}

#ourIceCreams p {
    color: #4CBBB8;
}

#iceCreamTitle {
    font-weight: 600;
    color: #ECD284;
}

#containerGallery {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
    gap: 15px 5px;
    justify-items: center;
    align-items: center;

    padding-top: 10vh;
    padding-left: 15vh;

}

#containerGallery img {
    width: 45vh;
}

#containerGallery img:hover {
    transform: scale(1.1) rotate(5deg);
}

#menu{
    background-color: #ECD284;
    
    display: flex;
    justify-content: center;

}

#forClouds {
    margin-top: 15vh;
    background-color: #ECD284;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forClouds img {
    height: 15vh;
}



#choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;

}

#choices p {
    color: white;
    padding: 5px;
}

#menu img {
    width: 45vh;
    height: auto;
    margin-left: -95vh;

}

#menu h2 {
    color: white;
    font-weight: 600;
}

#menu span {
    color: #DCA9B1;
    font-weight: 600;
}

svg {
    fill:#ffffff
}


#clouds {
    width: 100%;
}







/* MEDIA QUERIES */


